<script>
    let listeners = {
        dark: (mediaQueryList) => {
            if (mediaQueryList.matches) {
                localStorage.setItem("appearance", "dark");
            }
        },
        light: (mediaQueryList) => {
            if (mediaQueryList.matches) {
                localStorage.setItem("appearance", "light");
            }
        },
    };
    window
        .matchMedia("(prefers-color-scheme: dark)")
        .addListener(listeners.dark);
    window
        .matchMedia("(prefers-color-scheme: light)")
        .addListener(listeners.light);
</script>
